/*---------------------------------------------------------------
 >>> TABLE OF CONTENTS:
 ----------------------------------------------------------------

 	0. 	CSS Reset
 	1. 	Base Styles
 	2. 	Main Layout
 	3. 	Sidebar Left - Navigation, Actions
 	4. 	Main Content
 	5.  Sidebar Right - Stats
 	6.  Media Queries

/* -------------------------------------------------------------------------- */

/*	0. CSS Reset
/* -------------------------------------------------------------------------- */

html,
body {
	border: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
	border: none;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}

blockquote::before,
blockquote::after {
	content: "";
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

hr {
	border: 0;
}

/* -------------------------------------------------------------------------- */

/*	1. Base Styles
/* -------------------------------------------------------------------------- */

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* 1rem = 10px */
}

body, input, button {
 font-family: 'TT Commons';
 font-weight: 500;
 font-size: 1.6rem;
}

body {
 overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #565a6f;
	font-weight: 500;
}

h1 {
  font-size: 2.8rem;
	font-weight: 500;
  color: #353a52;
}

h3 {
	font-size: 1.8rem;
	font-weight: 500;
	color: #585c70;
}

p, time {
	color: #979cba;
}

/* Screen Reader Text  ----------------------- */

.sr-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	word-break: normal;
}

.sr-only:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	right: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* -------------------------------------------------------------------------- */

/*	2. Main Layout
/* -------------------------------------------------------------------------- */

.container {
	display: grid;
	grid-row-gap: 20px;
	width: 100%;
	margin: auto;
}

/* -------------------------------------------------------------------------- */

/*	3. Sidebar Left - Navigation, Actions
/* -------------------------------------------------------------------------- */

.sidebar {
	display: flex;
	flex-direction: column;
	background-color: #343951;
	padding: 40px;
	padding-bottom: 35px;
}

.logo {
	display: block;
	margin-bottom: 40px;
}

.sidebar li.nav-item {
	display: flex;
	align-items: center;
	font-size: 1.6rem;
	color: #777b8f;
}

.sidebar li.nav-item + li.nav-item {
	margin-top: 40px;
}

.sidebar .nav-item img {
	height: 18px;
	width: 18px;
	margin-right: 28px;
}

.sidebar .nav-item span {
	margin-top: 3px;
}

.sidebar .nav-item.active {
	color: #fff;
}

.divider {
	margin: 54px -40px 0 -40px;
	border-top: 1px solid #4e5265;
}

.sidebar .main-header {
	margin-bottom: 40px;
}

.sidebar .actions {
	display: flex;
	align-items: center;
	margin-top: auto;
	margin-bottom: 25px;
	padding: 15px;
	border-radius: 15px;
	background-color: #464b61;
	color: #8f93a0;
	font-size: 1.4rem;
}

.actions-item {
	display: flex;
	align-items: center;
}

.actions-item + .actions-item {
	margin-top: 5px;
}

.actions-item img {
	width: 18px;
	height: 18px;
	margin-right: 5px;
}

.btn-create-action {
	display: flex;
	align-items: center;
	background-color: #ffa000;
	color: #ffe6bc;
	padding: 5px;
	padding-left: 20px;
	padding-right: 5px;
	border-radius: 8px;
	height: 38px;
}

.btn-create-action::after {
	content: '+';
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffb333;
	width: 28px;
	height: 28px;
	font-size: 2.4rem;
	border-radius: 5px;
	margin-left: auto;
}

/* -------------------------------------------------------------------------- */

/*	4. Main Content
/* -------------------------------------------------------------------------- */

.main-content {
	background-color: #f5f6fb;
	padding: 30px 20px 40px 20px;
}

.main-content > section + section {
	margin-top: 50px;
}

/* Search  ----------------------- */

.search-section {
	margin-bottom: 32px;
}

.search-field {
	display: flex;
	border: 0;
	background-color: #fff;
	width: 100%;
	padding: 10px;
	padding-top: 12px;
	padding-left: 40px;
	border-radius: 5px;
	font-size: 1.2rem;
	background-image: url("./images/search.svg");
	background-repeat: no-repeat;
	background-position: 7px 9px;
}

input::-webkit-input-placeholder {
	color: #c7c9d2;
}

input:-ms-input-placeholder {
	color: #c7c9d2;
  line-height: normal;
}

input::-moz-placeholder {
	color: #c7c9d2;
	opacity: 1;
  line-height: revert; /* Reset to the value from the user-agent stylesheet. */
}

/* Shared styles between Recent Projects, Recent Files and Share With Me ----------------- */

.content-header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.header-actions {
	display: flex;
	justify-content: space-between;
}

section.projects {
	margin-right: 20px;
}

/* Recent Projects ( Recently Used )  -------------- */

.recent-projects {
	display: flex;
	flex-direction: column;
}

.recent-projects-action {
	background-color: transparent;
}

.recent-projects-action + .recent-projects-action {
	margin-left: 12px;
}

.projects {
	display: flex;
	flex-direction: column;
}

/* All articles(.project) will take up 100% of the width in mobile view */
.projects > * {
	flex: 1 100%;
}

.project + .project {
	margin-top: 12px;
	margin-left: 0;
}

.project {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 32px 18px;
	border-radius: 15px;
	position: relative;
}

.project-action img {
	position: absolute;
	right: 0;
	top: 20px;
}

.project-participants {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 40px;
}

.project-participants > img {
	margin-right: 34px;
}

.participants li {
	display: inline;
	margin-left: -10px;
	margin-left: -0.625rem;
}

.participants li img {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.participants > li:first-child img {
	margin-left: 0;
}

.projects .project-title {
	margin-bottom: 14px;
}

.projects .project-date {
	font-size: 1.4rem;
}

.projects .project li.more-participants {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	color: #595d71;
	border: 1px solid #cdced4;
	border-radius: 50%;
	padding: 2px;
	position: relative;
	top: -9px;
	width: 23px;
	height: 23px;
	font-size: 1.2rem;
}

/* Recent Files  ----------------------------------- */

.headings {
	margin-bottom: 25px;
}

.headings,
.file-details {
	display: grid;
	grid-template-columns: 40px 1fr;
	align-items: center;
	grid-row-gap: 10px;
}

.headings {
	grid-template-areas:
		"name name"
		"owners owners"
		"date-modified date-modified"
		"more-actions more-actions";
}

.file-details {
	grid-template-areas:
		"icon name"
		"owners owners"
		"date-modified date-modified"
		"more-actions more-actions";
}

.file-details {
	padding: 16px 16px 18px 16px;
	background-color: #fff;
	border-radius: 8px;
}

.file-details + .file-details {
	margin-top: 20px;
}

.file-details img:first-child {
	grid-area: icon;
}

.file-details .file-name,
.headings .name {
	grid-area: name;
}

.file-details .file-name {
	color: #65697b;
}

.headings .owners,
.file-details .file-owners {
	grid-area: owners;
}

.headings .date-modified,
.file-details time {
	grid-area: date-modified;
}

.file-details img:last-child {
	grid-area: more-actions;
}

/* Share with me ----------------- */

section.share-with-me article {
	padding-top: 12px;
	padding-bottom: 12px;
}

section.share-with-me article .project-participants {
	margin-bottom: 16px;
}

section.share-with-me article .project-participants > img {
	margin-right: 70px;
}

section.share-with-me article .project-title {
	margin-bottom: 4px;
}

section.share-with-me article .project-participants ul li img {
	border: 2px solid #fdbc4f;
}

section.share-with-me article .project-participants ul li:first-child img {
	border: 2px solid #5bddb5;
}

/* -------------------------------------------------------------------------- */

/*	5. Sidebar Right - Stats
/* -------------------------------------------------------------------------- */

.stats {
	background-color: #f5f6fb;
	padding: 40px;
}

.stats .user-profile {
	padding-top: 5px;
	padding-bottom: 28px;
	border-bottom: 2px solid #e2e8f2;
	margin-left: -40px;
	margin-right: -40px;
	margin-bottom: 25px;
}

.stats .user-profile ul {
	padding: 0 40px 0 40px;
}

.stats .user-profile ul {
	display: flex;
	flex-flow: column wrap;
}

.stats .user-profile ul li {
	display: inline-block;
	margin-bottom: 10px;
}

.stats .user-profile ul li:last-child {
	margin-bottom: 0;
}

.stats .user-profile ul li:first-child {
	margin-right: 16px;
}

.stats .user-profile ul li:nth-child(2) {
	margin-right: auto;
}

.stats .user-profile ul li:nth-child(3) {
	margin-right: 10px;
	margin-top: 20px;
	color: #585c70;
	font-weight: 500;
}

/*-- Usage Graph -- */

/*.usage-graph {
	position: relative;
}

.usage-graph .arc {
	position: absolute;
	fill: transparent;
	border: 1px solid #afafaf;
}

.arc circle {
	fill: transparent;
	fill: #000;
	stroke-linecap: round;
	stroke-width: 7px;
}

.arc--docs {
	stroke-dasharray: 570.8 570.8;
	stroke-dashoffset: 371.02;
	transform: rotate(-32deg);
	transform-origin: center;
	stroke: #ffa000;
}*/

.stats .usage-stats .storage-percentage {
	display: flex;
  justify-content: center;
	margin: 35px 0 25px 0;
}

.stats .usage-stats .storage-percentage  .percent-used {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.stats .usage-stats .storage-percentage  .percent-used p:first-child {
	font-size: 4.5rem;
	color: #353a52;
}

.stats .usage-stats .storage-percentage  .percent-used p:nth-child(2) {
	font-size: 2.2rem;
}

.stats .usage-stats p.total-usage {
	font-size: 14px;
	color: #a5aaca;
	text-align: center;
	margin-bottom: 35px;
}

.stats .usage-stats .storage-items {
	display: flex;
	flex-flow: column wrap;
}

.stats .usage-stats .storage-items .storage-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 12px 0 12px 0;
}

.stats .usage-stats .storage-items .storage-item:first-child {
	margin-top: 0;
}

.stats .usage-stats .storage-items .storage-item  img {
	margin-right: 8px;
}

.stats .usage-stats .storage-items .storage-item .folder-name {
	display: flex;
	flex-direction: column;
	font-size: 1.4rem;
	color: #5d6175;
	margin-right: auto;
}

.stats .usage-stats .storage-items .storage-item .folder-name span {
	font-size: 1.2rem;
	color: #a5aaca;
}

.stats .usage-stats .storage-items .storage-item .storage-used {
	padding: 8px 12px 4px;
	background-color: #fff;
	border-radius: 6px;
	font-size: 1.4rem;
	color: #65697b;
}

/* -------------------------------------------------------------------------- */

/*	Media Queries
/* -------------------------------------------------------------------------- */


@media only all and ( min-width: 320px ) {

	/* Sidebar Right - Stats ---------------------------*/

	.stats .user-profile ul {
			flex-direction: row;
	    align-items: center;
	}

	.stats .user-profile ul li:nth-child(3) {
		margin-top: 0;
	}

	.stats .user-profile ul li {
		margin-bottom: 0;
	}
}

@media only all and ( min-width: 769px ) {

	.container {
		grid-column-gap: 20px;
	}

	/* Main Content -----------------------------------*/

	/* RECENT PROJECTS  -------------- */
	.projects {
		flex-direction: row;
	}

	/* All articles will be displayed in a single row (side by side) and take up equal amount of available space */
	.project {
		flex: 1;
	}

	.project + .project {
		margin-top: 0;
		margin-left: 12px
	}

	/* RECENT FILES  ----------------- */
	.headings,
	.file-details {
		grid-template-columns: 40px  45.22% 2fr 2fr 1fr;
		grid-template-areas:
			"icon name owners date-modified more-actions";
		}

	.headings .name {
		grid-column: 1 / 3;
	}

	.headings .owners,
	.file-details .file-owners {
		padding-right: 30px;
	}

	.headings .date-modified,
	.file-details time {
		justify-self: center;
	}

	.file-details img:last-child {
		justify-self: end;
	}
}

@media only all and ( min-width: 768px ) and ( max-width: 1024px ) {

	/* Sidebar Left - Navigation ----------------------*/

	.sidebar .main-header {
		display: flex;
		flex-direction: column;
	}

	.main-header .logo {
		width: 100px;
		align-self: center;
		margin-bottom: 30px;
	}

	.sidebar nav ul.nav-items {
		display: flex;
		justify-content: space-between;
	}

	.sidebar nav ul.nav-items li.nav-item {
		margin-top: 0;
	}

	.sidebar ul.nav-items li.nav-item img {
		margin-right: 10px;
	}

	.sidebar .actions {
		justify-content: center;
	}
}

@media only all and ( min-width: 1025px ) {

	.container {
		width: 90%;
		grid-template-columns: 0.94fr 3fr 1.46fr;
	}

	/* Sidebar Left -----------------------------------*/

	.sidebar {
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}

	/* Sidebar Right - Stats ---------------------------*/

	.stats {
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
	}
}

@media only all and (min-width: 1025px ) and ( max-width: 1075px ) {

	/* Sidebar Right - Stats ---------------------------*/

	.stats .user-profile ul li:nth-child(2) {
		margin-right: 60px;
	}
}

@media ( min-width: 1300px ) {
	.container {
		width: 1300px;
	}
}

@media only all and ( max-width: 1264px ) {

	/* Main Content -----------------------------------*/

	/* SHARE WITH ME  ---------------- */
	.project-participants > img {
		margin-bottom: 10px;
	}
}
