/* -------------------------------------------------------------------------- */

/*	0. CSS Reset
/* -------------------------------------------------------------------------- */

html,
body {
	border: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
	border: none;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	text-align: inherit;
}

blockquote::before,
blockquote::after {
	content: "";
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

hr {
	border: 0;
}

/* -------------------------------------------------------------------------- */

/*	1. General
/* -------------------------------------------------------------------------- */

* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%; /* 1rem = 10px */
	height: 100%;
}

body, input, button {
 font-family: 'TT Commons';
 font-weight: 500;
 font-size: 1.4rem;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
}

.container {
	display: grid;
	grid-template-columns: 220px 1fr 340px;
	grid-column-gap: 20px;
	max-width: 100%;
	width: 1300px;
	/*min-height: 990px;*/
	height: 98%;
}

/* -------------------------------------------------------------------------- */

/*	2. Sidebar Left - Navigation, Actions
/* -------------------------------------------------------------------------- */

.sidebar {
	background-color: #343951;
	padding: 40px;
	padding-bottom: 35px;
	display: flex;
	flex-direction: column;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.logo {
	display: block;
	margin-bottom: 40px;
}

.sidebar .nav-item {
	color: #777b8f;
	display: flex;
	align-items: center;
	font-size: 1.6rem;
}

.sidebar li.nav-item + li.nav-item {
	margin-top: 40px;
}

.sidebar .nav-item img {
	height: 18px;
	width: 18px;
	margin-right: 28px;
}

.sidebar .nav-item.active {
	color: #fff;
}

.divider {
	margin: 54px -40px 0 -40px;
	border-top: 1px solid #4e5265;
}

.sidebar .actions {
	display: flex;
	align-items: center;
	margin-top: auto;
	background-color: #464b61;
	padding: 15px;
	border-radius: 15px;
	color: #8f93a0;
	margin-bottom: 25px;

}

.actions-item {
	display: flex;
	align-items: center;
}

.actions-item + .actions-item {
	margin-top: 5px;
}

.actions-item img {
	width: 18px;
	height: 18px;
	margin-right: 5px;
}

.btn-create-action {
	background-color: #ffa000;
	color: #ffe6bc;
	padding: 5px;
	padding-left: 20px;
	padding-right: 5px;
	border-radius: 8px;
	height: 38px;
	display: flex;
	align-items: center;
}

/*.btn-create-action .text {
	align-self: flex-start;
}*/

.btn-create-action::after {
	content: '+';
	background-color: #ffb333;
	width: 28px;
	height: 28px;
	font-size: 2.4rem;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
}



/* -------------------------------------------------------------------------- */

/*	0. Main Content
/* -------------------------------------------------------------------------- */

.content {
	background-color: #f5f6fb;
}

/* -------------------------------------------------------------------------- */

/*	3. Sidebar Right - Stats
/* -------------------------------------------------------------------------- */

.stats {
	background-color: #f5f6fb;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
